.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    _display: inline;
}

.w-100 {
    width: 100%;
}

.bg-light-gray {
    background-color: #eee;
}

.bg-near-white {
    background-color: #f4f4f4;
}

.tc {
    text-align: center;
}

@media screen and (min-width: 30em) {
    .w-50-ns {
        width: 50%;
    }
}



/* List Cat */

.ba {
    border-style: solid;
    border-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--light-silver {
    border-color: #aaa;
}

.br3 {
    border-radius: .5rem;
}

.list {
    list-style-type: none;
}

.mw5 {
    max-width: 16rem;
}

.pl0 {
    padding-left: 0;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ml0 {
    margin-left: 0;
}

.f4 {
    font-size: 1.25rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}
